Source: golang-github-pbnjay-memory
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Daniel Milde <daniel@milde.cz>
Section: golang
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-pbnjay-memory
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-pbnjay-memory.git
Homepage: https://github.com/pbnjay/memory
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/pbnjay/memory

Package: golang-github-pbnjay-memory-dev
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Provides go function to report total system memory
 Package memory provides two methods reporting total physical system
 memory accessible to the kernel, and free memory available to the
 running application.
